<!DOCTYPE html>
<html>
    <head>
        @css '/assets/site.css'
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <title>@app_name/about</title>
    </header>
    <body>
        <div class=top-bar>
            <div class="top-bar-element">
                <a href="/">> home </a>
            </div>
            <div class="top-bar-element">
                <a href="/tags">> tags </a>
            </div>
            <div class="top-bar-element">
                <a href="/rss.xml" target="_blank">> rss </a>
            </div>
            <div class="top-bar-element">
                <a href="/about">> about this </a>
            </div>
        </div>
        
        <div>
            <h1>about</h1>
            <div class=general-container>
                <p class=about-text>
                    This site is called 'levin', a handmade static blog built using v and the vweb library.
                </p>
                <p class=about-text>
                    [1] <a href="https://github.com/billpcs/levin">Github</a>
                    </br>
                    [2] <a href="https://vlang.io/">vlang</a>
                    </br>
                    [3] <a href="https://modules.vlang.io/vweb.html">vweb</a>
                </p>
                <a href="https://notbyai.fyi/" target="_blank">
                    <img src="assets/Written-By-Human-Not-By-AI-Badge-white.svg" alt="Description of the image">
                </a>
            </div>
        </div>
    </body>
</html>
