<!DOCTYPE html>
<html>

    <head>
        @css '/assets/site.css'
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <header>
        <title>Page Not Found!</title>
    </header>

    <body>
        <div class=top-bar>
            <div class="top-bar-element">
                <a href="/">> home </a>
            </div>
        </div>

        <h1 style="text-align: center">
            ERROR 404
        </h1>

        <h2 style="text-align: center">
            i.e either you are adventurous or I have failed to build a simple site
        </h2>

        <img style="max-width: 100%;" src='/assets/404.png'>
    </body>

</html>