<!DOCTYPE html>
<html>
<head>
    @css 'assets/site.css'
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@post_title</title>
    <link rel="stylesheet" href="assets/prism.css">
</head>


<body>
    <div class=post-page>
        <div class=top-bar>
          <div class="top-bar-element">
            <a href="/">> home </a>
          </div>
          <div class="top-bar-element">
            <a href="/about">> about this </a>
          </div>
        </div>

        <div class=post-container> 

            <h1 class=post-title>@post_title</h1>

            <div class=post>
            @for chunk in chunks 
                @if chunk.is_h()
                    <h1>@chunk.text</h1>
                @end

                @if chunk.is_hh()
                    <h2>@chunk.text</h2>
                @end

                @if chunk.is_hhh()
                    <h3>@chunk.text</h3>
                @end

                @if chunk.is_highlight()
                    <p class="highlighted">
                        @chunk.text
                    </p>    
                @end

                @if chunk.is_quote()
                    <blockquote>
                        <p class="quoted">
                            @chunk.text
                        </p>    
                    </blockquote>
                    
                @end

                @if chunk.is_code()
                    <pre><code class=@chunk.metadata>@chunk.text</code></pre>
                @end

                @if chunk.is_text()
                    <p> @chunk.text </p>
                @end
            @end
            </div>

        </div>
    </div>   

    <script src="assets/prism.js"></script>
</body>
</html>