<!DOCTYPE html>
<html>
    <head>
        @css '/assets/site.css'
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/prism.css">
    </head>
    <header>
        <title>@app_name/@post_url</title>
    </header>
    <body>
        <div class=post-page>
            <div class=top-bar>
                <div class="top-bar-element">
                    <a href="/">> home </a>
                </div>
                <div class="top-bar-element">
                    <a href="/tags">> tags </a>
                </div>
                <div class="top-bar-element">
                    <a href="/rss.xml" target="_blank">> rss </a>
                </div>
                <div class="top-bar-element">
                    <a href="/about">> about this </a>
                </div>
            </div>
            <div class=post-container>
                <h1 class=post-title>@post_title</h1>
                <div class=tags>
                    @for tag in tags
                    <a href="/tags"># @tag</a>
                    @end
                </div>
                <input type="checkbox" id="toggle"/>
                @if cols == 0
                    <label for="toggle" class="toggle-label">cols </label>
                @end
                <div class="post"  style="column-count: @cols">
                    @post_html
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/prism.js"></script>
</body>
</html>