<!DOCTYPE html>
<html lang="en">
    <head>
        @css '/assets/site.css'
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <title>naughty stats</title>
    </header>
    <body>
        <div class=top-bar>
            <div class="top-bar-element">
                <a href="/">> home </a>
            </div>
            <div class="top-bar-element">
                <a href="/tags">> tags </a>
            </div>
            <div class="top-bar-element">
                <a href="/rss.xml" target="_blank">> rss </a>
              </div>
            <div class="top-bar-element">
                <a href="/about">> about this </a>
            </div>
            <div class="top-bar-element">
                @uptime
            </div>
        </div>

        <div class="general-container">
            These are the most common 404 requests.
            Usually they are done by bots, so it's interesting to see what they are looking for.
            They are sorted by date of addition, not by number of hits.
        </div>

        <div class="general-container">
            <div class="table">
                <div class="table-header">
                    <div class="table-data">Path</div>
                    <div class="table-data">Count</div>
                </div>
                @for request, count in stats
                    <div class="table-row">
                        <div class="table-data">@request</div>
                        <div class="table-data">@count</div>
                    </div>
                @end
            </div>
        </div>
    </body>
</html>