<!DOCTYPE html>
<html lang="en">
    <head>
        @css '/assets/site.css'
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <title>naughty stats</title>
    </header>
    <body>
        <div class=top-bar>
            <div class="top-bar-element">
                <a href="/">> home </a>
            </div>
            <div class="top-bar-element">
                <a href="/tags">> tags </a>
            </div>
            <div class="top-bar-element">
                <a href="/rss.xml" target="_blank">> rss </a>
              </div>
            <div class="top-bar-element">
                <a href="/about">> about this </a>
            </div>
        </div>
        <ul>
            <div class="tags">
                @for tag, posts in tags
                <li><a href=""># @tag </a></li>
                <ul>
                    @for post in posts
                    <li><a href="/@post.relative_url()"> @post.title </a></li>
                    @end
                </ul>
                @end
            </div>
        </ul>
    </body>
</html>