<!DOCTYPE html>
<html>
    <head>
        @css 'assets/site.css'
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/prism.css">
    </head>
    <header>
        <title>tags</title>
    </header>
    <body>
        <ul>
            @for tag in tags.keys()
            <li>@tag</li>
                <ul>
                    @for link in tags[tag]
                    <ul>
                        <a href="@link"># @link </a>
                    </ul>
                    @end
                </ul>
            @end
        </ul>
    </body>
</html>