html {
  font-family: monospace;
  background:#353535;
  color: #ffffff
}

.post-list-container{
  min-width: 30%;
  max-width: 80%;
  background: #3c6e71;
  padding: 10px;
  border: solid 3px black;
  margin-left: auto;
  margin-right: auto;
}

.post-list {
  background-size: 10em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.post-list:hover {
  background-color: #353534;
  border-radius: 10px 10px 10px 10px;
}

a {
  color: #ffffff;
}

.post {
  min-width: 30%;
  max-width: 80%;
  background:#3c6e71;
  padding: 10px;
  border: solid 3px black;
  text-align: justify;
  text-justify: inter-word;
}

.time {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.topic {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.top-bar-element {
  float: left;
  padding-inline-end: 1em;
}

.about-text {
  caret-color: chocolate;
}


