* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html {
  font-family: monospace;
  font-size: 1.2em;
  background:#353535;
  color: #ffffff
}

a {
  color: #ffffff;
}

img {
  width: 100%;
}

li {
  padding: 5px;
  padding-left: 1ch;
}

ul li::marker {
  color: hotpink;
  content: "▶"; 
}


.post-page {
  position: relative;
}

.post-container {
  min-width: 75%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.post-title {
  font-size: xxx-large;
  font-family: monospace;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 30%;
  max-width: 80%;
  background:#1a1a1a;
  padding: 10px;
  border: solid 3px black;
  column-count: 1;
}

.quoted {
  border: solid 3px white;
  padding: 5%;
  text-justify: inter-character;
}

.quoted:hover {
  color: #1a1a1a;
  background-color: white;
}

.highlighted {
  padding: 0.5em;
  padding-left: 1em;
  border-left: thick double hotpink;
  text-justify: inter-character;
}

.highlighted:hover {
  color: hotpink;
  background-color: black;
}

.time-topic-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.time-topic-container:hover {
  background-color: #353534;
  border-radius: 0.5em;
}

.topic {
  order: 0;
  flex-basis: 70%;
}

.time {
  order: 1;
}

.top-bar {
  padding-bottom: 5%;
}

.top-bar-element {
  float: left;
  padding-inline-end: 1%;
}

.top-bar-element:hover {
  background-color: #1a1a1a;
}

.about-text {
  caret-color: chocolate;
}

.post-list-container{
  min-width: 80%;
  max-width: 90%;
  background: #1a1a1a;
  padding: 4%;
  border: solid 4px black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 1%;
}

.tags {
  color: lightgreen;
  margin: 1em;
}


.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background:#1a1a1a;
  padding: 2%;
  border: solid 3px black;
  text-align: justify;
  text-justify: inter-word;
  column-count: 3;
  column-gap: 5%;
  column-rule-style: groove;
  font-family: monospace;
}

@media screen and (max-width: 992px) {
  .post-list-container {
    font-size: 1.2em;
  }

  .post {
    column-count: 1;
    font-size: 1.2em;
  }

  .top-bar {
    font-size: 1.5em;
  }

  .tags {
    font-size: 1.8em;
  }
}
