@font-face {
  font-family: 'Barnebok Regular';
  src: url('BarnebokRegular.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Barnebok Bold';
  src: url('BarnebokBold.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'Fira Code';
  src: url('FiraCode-Regular.woff') format('woff');
  font-display: fallback;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html {
  font-family: 'Barnebok Regular', monospace;
  font-size: 1.2em;
  background:#353535;
  color: #ffffff
}

a {
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family: 'Barnebok Bold';
}

code {
  color:aqua;
  font-family: 'Fira Code';
}

img {
  max-width: 100%; /* never scale more than original size */
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.5);
}

li {
  padding: 5px;
  padding-left: 1ch;
}

ul li::marker {
  color: hotpink;
  content: "▶"; 
}

.table {
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
	border: 4px solid hotpink;
  padding: 10px;
  border-radius: 1em;
  justify-content:center;
  align-items:center;
}

.table-header {
	display:flex;
	width:100%;
  border-radius: 5px;
	background:#000;
  font-family: monospace;
  margin: 2px;
}

.table-row {
	display:flex;
	width:100%;
  border-radius: 5px;
	&:nth-of-type(odd) {
    background: #202020;
	}
  &:nth-of-type(even) {
    background: #686868;
	}
  font-family: monospace;
  margin: 2px;
}

.table-data {
	flex: 1 1 20%;
	text-align:center;
}

.post-page {
  position: relative;
}

.post-container {
  min-width: 75%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.post-title {
  font-size: xxx-large;
  font-family: 'Barnebok Bold';
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 30%;
  max-width: 80%;
  background:#1a1a1a;
  padding: 10px;
  border: solid 3px black;
  column-count: 1;
}

blockquote {
  border: solid 3px white;
  padding: 5%;
  text-justify: inter-character;
}

blockquote:hover {
  color: #1a1a1a;
  background-color: white;
}

.highlighted {
  padding: 0.5em;
  padding-left: 1em;
  border-left: thick double hotpink;
  text-justify: inter-character;
}

.highlighted:hover {
  color: hotpink;
  background-color: black;
}

.time-topic-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.time-topic-container:hover {
  background-color: #353534;
  border-radius: 0.5em;
}

.topic {
  order: 0;
  flex-basis: 70%;
}

.time {
  order: 1;
  font-family:'Courier New', Courier, monospace;
  text-align: right;
}

.top-bar {
  padding-bottom: 2em;
}

.top-bar-element {
  float: left;
  padding: 5px 1% 5px 1%;
}

.top-bar-element:hover {
  background-color: #1a1a1a;
}

.about-text {
  caret-color: chocolate;
  font-family: 'Fira Code';
}

.general-container{
  min-width: 50%;
  max-width: 60%;
  background: #1a1a1a;
  padding: 4%;
  border: solid 4px black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.tags {
  color: lightgreen;
  margin: 1em;
}

.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  background:#1a1a1a;
  padding: 2%;
  border: solid 3px black;
  text-align: justify;
  text-justify: inter-word;
  column-count: 3;
  column-gap: 5%;
  column-rule-style: groove;
}

.toggle-label {
  border: solid 3px black;
  display: inline-block;
  padding: 10px;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

#toggle {
  display: none; /* Hide checkbox visually */
}

#toggle + .toggle-label::after {
    content: "(3)"
}

#toggle:checked + .toggle-label::after {
  content: "(1)";
}

#toggle:checked ~ .post {
  column-count: 1; /* Column count when toggled */
}

@media screen and (max-width: 992px) {
  label[for="toggle"] {
    display: none;
  }

  .general-container {
    max-width: 90%;
  }

  .post {
    column-count: 1;
  }

  .top-bar {
    font-size: 1.3em;
  }

  .tags {
    font-size: 1.5em;
  }
}
