<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/stylesheets/default.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <header>
        <title>about</title>
    </header>
    <body>
        <div class=top-bar>
            <div class="top-bar-element">
                <a href="/">> home </a>
            </div>
            <div class="top-bar-element">
                <a href="/tags">> tags </a>
            </div>
            <div class="top-bar-element">
                <a href="/rss.xml" target="_blank">> rss </a>
            </div>
            <div class="top-bar-element">
                <a href="/about">> about this </a>
            </div>
        </div>
        
        <div>
            <h1>about</h1>
            <div class=general-container>
                <p class=about-text>
                    This site is called 'revithi.space'. The whole project is called 'levin'. It's a handmade static blog built using Scala and Scalatra.
                </p>
                <p class=about-text>
                    [1] <a href="https://github.com/billpcs/levin">Levin</a>
                    </br>
                    [2] <a href="https://www.scala-lang.org/">Scala</a>
                    </br>
                    [3] <a href="https://scalatra.org/">Scalatra</a>
                </p>
                <a href="https://notbyai.fyi/" target="_blank">
                    <img src="assets/Written-By-Human-Not-By-AI-Badge-white.svg" alt="Description of the image">
                </a>
            </div>
        </div>
    </body>
</html>
